<li><a href="{{ site.imagecore-viewer-module }}index.html" class="otherLinkColour">ImageCore & Viewer Modules</a>
    <ul>
        <li><a href="{{ site.imagecore-viewer-module }}thumbnail-viewer.html" class="otherLinkColour">How to create a thumbnail viewer</a></li>
        <li><a href="{{ site.imagecore-viewer-module }}save-multi-page-pdf.html" class="otherLinkColour">How to save selected images as multi-page PDF</a></li>
        <li><a href="{{ site.imagecore-viewer-module }}stamp-onto-image.html" class="otherLinkColour">How to stamp text & icons onto acquired images in Dynamic .NET TWAIN</a></li>
        <li><a href="{{ site.imagecore-viewer-module }}zoom-by-mousewheel.html" class="otherLinkColour">How to zoom images using mouse wheel</a></li>
        <li><a href="{{ site.imagecore-viewer-module }}deskew-image.html" class="otherLinkColour">How to automatically deskew an image</a></li>
        <!-- if there are more than one pages in this folder, you can define more <li>s here like: -->
        <!--  
        <li>Test1</li>
        <li>Test2</li>
        <li>Test3</li>
        -->
    </ul>
</li>